/*main{
  margin-top: 100px;
  margin-left: 150px;
}*/

body {
  font-family: sans-serif;
  margin: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

body {
  height: 100%;
}

/* Header*/
.contenidocharacters {
  display: flex;
}

.barralateral {
  display: flex;
}

.rickAndMortyLogo {
  text-decoration: none;
  color: #2D1440;
}

li {
  list-style: none;
  display: inline-block;
  text-decoration: none;
}

/*Quitar subrayado de: a href*/
a:link,
a:visited {
  text-decoration: none;
}


.botonesheader {
  text-decoration: none;
  color: #2D1440;
  background-color: #A3A3CD;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 300;
  padding: 10px;
  text-align: right;
  margin-right: 15px;
  display: inline-block;
}

.divnavegacionHeader {
  display: flex;
  position: fixed;
  justify-content: space-between;
  min-height: 70px;
  /*Altura de Header*/
  background-color: #2D1440;
  align-items: center;
  padding: 5px;
  width: 100%;
}

.rickAndMortyLogo img {
  height: 70px;
  margin-left: 50px;
}

.iconosheader {
  width: 13px;
  height: 13px;
}

@media (max-width:750px) {
  .navegacionHeader {
    flex-direction: column;
  }

  .ulnavegacionHeader {
    padding: 10px 0px;
  }

  #root2 {
    grid-template-columns: 1fr 1fr;
  }

  #root2 p {
    display: flex;
    align-items: center;
  }
}

@media (max-width:540px) {
  #root2 {
    width: 90%;
    grid-template-columns: 1fr;
  }

  #root2 p {
    display: flex;
    align-items: center;
  }
}

.navegacionGlobal {
  position: fixed;
  font-family: sans-serif;
  background-color: #2D1440;
  width: 100px;
  *height: 100vh;
  height: 100%;
  margin-top: 70px;
}

.navegacionGlobalA {
  display: block;
  text-align: center;
  padding: 0px;
}

#iconopersonaje img,
#iconoespecies img,
#iconoepisodios img,
#iconodimensiones img,
#iconoobjetos img {
  width: 70px;
  height: 70px;
  padding-bottom: 3px;
  padding-top: 10px;
}

/*SUBMENÚ PERSONAJES*/

.navegacionGlobalA ul {
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: #7B2E73;
  border-radius: 10px;
  position: absolute;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  left: 120px;
  top: -5px;
  padding: 14px 0px;
  visibility: hidden;
  opacity: 80%;
  z-index: 10;
  transition: all 300ms ease;
}

.navegacionGlobalA:hover ul {
  visibility: visible;
  opacity: 100%;
  top: 105px;
}

.navegacionGlobalA ul li a {
  display: block;
  color: #ffff;
  padding: 6px;
  padding-left: 0px;
  margin: 5px;
  /*esto antes era margin top pero el "TODOS" quedaba muy abajo y era 10px*/
  font-size: 14px;
  text-transform: uppercase;
  transition: all 400ms ease;
  text-align: center;
}

.navegacionGlobalA ul li a:hover {
  background: #A3A3CD;
  border-radius: 10px;
  color: #2D1440;
  transform: sacle(1.1);
  padding-left: 14px;
  font-size: 16px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

label {
  font-size: 10px;
  color: #ffff;
}

/*CUADRO DE TEXTO LANDING*/

.contenedorTexto {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #7B2E73;
  padding: 10px;
  opacity: 80%;
  border-radius: 10px;
}

.contenedorTexto p {
  font-family: sans-serif;
  font-size: 20px;
  color: #ffff;
  text-align: justify;
  font-weight: bold;
  line-height: 30px;
}

/*CHARACTERS HTML*/
.menufiltradoytitulo {
  display: flex;
  margin: 0 auto;
  width: 80%;
  gap: 20px 20px;
  align-items: center;
  justify-content: space-between;
}

.menufiltradoytitulo p {
  font-family: sans-serif;
  font-size: 40px;
  color: #2D1440;
  text-align: left;
  font-weight: bold;
}

.botones {
  display: flex;
  margin: 0 auto;
  width: 80%;
  gap: 20px 20px;
  align-items: center;
  justify-content: right;
}

#root2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px 30px;
  width: 80%;
  margin: 0 auto;
}

.containerPersonaje {
  display: grid;
}

.nombrePersonaje {
  font-family: sans-serif;
  font-size: 16px;
  color: #ffff;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #7B2E73;
}

.nombrePersonaje:hover {
  background: #A3A3CD;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.imagenPersonaje {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.imagenPersonaje:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

/*BOTÓN FILTRADO*/
.flechafiltrado {
  width: 13px;
  height: 13px;
}

/*SUBMENU FILTRADO*/

.botonfiltrado>ul {
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: #7B2E73;
  border-radius: 10px;
  position: absolute;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  right: 315px;
  top: 175px;
  padding: 14px 0px;
  visibility: hidden;
  opacity: 80%;
  z-index: 10;
  transition: all 400ms ease;
}

.botonfiltrado:hover>ul {
  visibility: visible;
  opacity: 100%;
  top: 180px;
}

.botonfiltrado>ul li a {
  display: block;
  color: #ffff;
  padding: 6px;
  padding-left: 0px;
  margin: 5px;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 400ms ease;
  text-align: center;
}

.botonfiltrado>ul li a:hover {
  background: #A3A3CD;
  border-radius: 10px;
  color: #2D1440;
  transform: sacle(1.1);
  padding-left: 14px;
  font-size: 16px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/*SUB SUBMENU GENDER*/

.gender ul {
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: #7B2E73;
  border-radius: 10px;
  position: absolute;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  right: 205px;
  top: 125px;
  padding: 14px 0px;
  visibility: hidden;
  opacity: 80%;
  z-index: 10;
  transition: all 300ms ease;
}

.gender:hover ul {
  visibility: visible;
  opacity: 100%;
  top: 130px;
}

.gender ul li a {
  display: block;
  color: #ffff;
  padding: 6px;
  padding-left: 0px;
  margin: 5px;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 300ms ease;
  text-align: center;
}

.gender ul li a:hover {
  background: #A3A3CD;
  border-radius: 10px;
  color: #2D1440;
  transform: sacle(1.1);
  padding-left: 14px;
  font-size: 16px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/*SUBMENU ORDENAR*/

.botonordenar ul {
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: #7B2E73;
  border-radius: 10px;
  position: absolute;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  right: 100px;
  top: 175px;
  padding: 14px 0px;
  visibility: hidden;
  opacity: 80%;
  z-index: 10;
  transition: all 300ms ease;
}

.botonordenar:hover ul {
  visibility: visible;
  opacity: 100%;
  top: 180px;
}

.botonordenar ul li a {
  display: block;
  color: #ffff;
  padding: 6px;
  padding-left: 0px;
  margin: 5px;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 300ms ease;
  text-align: center;
}

.botonordenar ul li a:hover {
  background: #A3A3CD;
  border-radius: 10px;
  color: #2D1440;
  transform: sacle(1.1);
  padding-left: 14px;
  font-size: 16px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/*VENTANA MODAL*/

#root3 {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, .8);
  display: none;
  align-items: center;
  justify-content: center;
}

#root3 .contenedorVentanaModal {
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  font-size: 10px;
  background: #ffff;
  position: relative;
  margin: 2rem;
  width: 40rem;
  border-radius: 1rem;
}

#root3 .contenedorVentanaModal .imagenVentanaModal {
  height: 20rem;
  border-radius: 1rem;
}

.iconoCerrarVM {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.iconoCerrarVM:hover {
 transform: rotate(90deg);
 transform: scale(1.1);
 transition: transform 0.3s ease-in-out;
}

.nombreVentanaModal {
  padding: 1 rem 0;
  font: 2.5 rem;
  color:#2D1440;
}

.datosVentanaModal{
 font-size: 1.7 rem;
 color:#7B2E73;
}